/df7.csv
/es4.csv
/FOCS_project - Copy.md
/FOCS_project-Copy1.ipynb
/FOCS_project-Copy2.ipynb
/FOCS_project-Copy2.md
/FOCS_project-Copy3.ipynb
/FOCS_project-Copy3.md
/jsonconcat.csv
/output.csv
/output1.csv
/py-11-f1.ipynb
/vertopal.com_FOCS_project-Copy1.markdown